<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Easylance-Hire the best Freelance</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css'>
<link rel="stylesheet" href="./homepage_style.css">
</head>
<body>
<!-- partial:index.partial.html -->
<header class="showcase">
			<div class="showcase-top">
				<img src="logo1.png" alt=""/>
				<a href="/LandingPage" class="btn btn-rounded">Get Started</a>
			</div>
			<div class="showcase-content">
				<h1><font size="9">HIRE THE BEST FREELANCE</font></h1>
				<p><font size="5">Get matched to top talent in minutes through our global network of skilled freelancers and professional agencies.</font></p>
				
			</div>
		</header>
		

		<footer class="footer">
			<p>Questions? Call 080-560-1008</p>
			<div class="footer-cols">
				
				<ul>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Terms Of Use</a></li>
				</ul>
				
				
			</div>

		</footer>
<!-- partial -->
  <script  src="./script.js"></script>

</body>
</html>