<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>EasyLance</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="Cform.css">
  </head>
  <body>
      <header>
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark mynav">
              <a class="navbar-brand" href="#">
              <img src="logo1.png" alt="logo" style="width:40px;">
              </a>
              <a class="navbar-brand text-primary " href="#" text->Easylance</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
        
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link text-light" href="#"></a>
                </li>
                
          </div>
         </nav>
        </header>
    <div class="login-form">
      <h1>Company Signup</h1>
      <form action="http://127.0.0.1:8081/newSSignup" method="POST">
        <input type="text" name="name" placeholder="Name" required />
        <input type="text" name="cname" placeholder="Company" required />
        <input type="email" name="username" placeholder="Username" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />

        <select name="city" required>
          <option value="-1" selected>City-Branch</option>
          <option value="New Delhi">NEW DELHI</option>
          <option value="Mumbai">MUMBAI</option>
          <option value="Bangalore">BANGALORE</option>
          <option value="Chennai">CHENNAI</option>
        </select>

        <input type="number" name="phno" placeholder="Mobile number" required />

        <input type="submit" />

        <a href="/Login" class="button" style="text-align: center;">Already a member?Login</a>
      </form>
    </div>
  </body>
</html>
